<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>

<div layout:fragment="list_item">

    <div th:id="${item.id}" th:attr='listId=${listId}' class="row">
        <div class="col-lg-11 col-md-11 finish-task">
            <span th:text="${item.text}"
              th:classappend="${item.status == T(com.personal.model.ListItemDTO.Status).DONE} ? done : ''" />
        </div>
        <div class="remove-task col-lg-1 col-md-1">
            <span class="glyphicon glyphicon-trash pull-right " />
        </div>
    </div>
</div>

</body>
</html>