<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div layout:fragment="list">
    <div th:id="${list.id}" class="row">
        <div class="open-list col-lg-11 col-md-11">
            <span th:text="${list.name}" />
        </div>
        <!--<button type="button" class="btn btn-default">-->
        <!--<span class="glyphicon glyphicon-edit pull-right edit_list" />-->
        <!--</button>-->
        <!--<button type="button" class="btn btn-default">-->
        <div class="remove-list col-lg-1 col-md-1">
            <span class="glyphicon glyphicon-trash pull-right " />
        </div>
        <!--</button>-->
    </div>
</div>

</body>
</html>