.center {
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    height: 450px;
}
.center {
    width: 600px;
}

.login-form {
    width: 350px;
}

.logo, .list-item{
    padding: 15px;
}

.done {
    text-decoration: line-through;
}

.red {
    color: red;
}

.remove-list{
    z-index: 999;
}