<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>TODO List</title>
    <link href="webjars/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link th:href="@{css/style.css}" rel="stylesheet" type="text/css" />
</head>
<body>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="webjars/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script th:src="@{js/task.js}"></script>
<div class="center">

    <div th:replace="fragments/header :: header"/>

    <div th:if="${list != null}">
        <div class="panel panel-info">
            <div class="panel-heading">
                <span class="panel-title" th:utext="${list.name}" />
                <span class="glyphicon glyphicon-plus pull-right" id="add-task" />
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <th:block th:object="${list}">
                        <li th:each="item : *{items}" class="list-group-item">
                            <div layout:include="fragments/list_item" th:with="item=${item}, listId=${list.id}" />
                        </li>
                        <li class="list-group-item" id="new-task" style="display: none">
                            <div class="row" >
                                <div class="col-lg-11 col-md-11">
                                    <input id="new-task-name" th:attr="listId=${list.id}" class="form-control" type="text" placeholder="New task" />
                                </div>
                                <div class="col-lg-1 col-md-1 remove-task">
                                    <span class="glyphicon glyphicon-trash pull-right" />
                                </div>
                            </div>
                        </li>
                    </th:block>
                </ul>
            </div>
        </div>
        <div class="pull-right">
            <button type="button" class="btn btn-link" >
                <a th:href="@{/lists}">Back</a>
            </button>
        </div>
    </div>
</div>

</body>
</html>