<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>TODO List</title>
    <link href="webjars/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link th:href="@{css/style.css}" rel="stylesheet" type="text/css" />
</head>
<body>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="webjars/bootstrap/3.3.2/js/bootstrap.min.js"></script>


<div th:replace="fragments/header :: header"/>
<div class="center login-form">
    <form th:action="@{/register}"
          th:object="${user}" method="POST" role="form">
        <p class="bg-info logo">
            Just do it!
        </p>
        <div class="form-group">
            <label>Login</label>
            <input class="form-control" placeholder="Enter username" type="text" th:field="*{credentials.username}" />
            <span th:if="${#fields.hasErrors('credentials.username')}" th:errors="*{credentials.username}" class="red" />
        </div>
        <div class="form-group" >
            <label>Password</label>
            <input class="form-control" placeholder="Enter password" type="password" th:field="*{credentials.password}" id="password" />
            <span th:if="${#fields.hasErrors('credentials.password')}" th:errors="*{credentials.password}" class="red" />
        </div>
        <div class="form-group" >
            <label>Confirm password</label>
            <input class="form-control" placeholder="Confirm password" type="password" id="txtConfirmPassword" />
            <span id='message'></span>
        </div>
        <div class="form-group" >
            <button type="submit" class="btn btn-primary username" >
                Register
            </button>
        </div>
    </form>
</div>
<script language="JavaScript">
    $(document).ready(function () {
       $("#txtConfirmPassword").keyup(checkPasswordMatch);
    });
    function checkPasswordMatch(){
      if ($('#password').val() == $('#txtConfirmPassword').val()) {
        $('#message').html('Matching').css('color', 'green');
        $('.username').removeAttr('disabled');
      } else {
        $('#message').html('Not Matching').css('color', 'red');
        $('.username').attr('disabled', 'disabled');
      }
    }
</script>
</body>
</html>